.footer-area-top {
    padding: 92px 0 50px;
    background: #263238;
    letter-spacing: .5px;
    .footer-box {
        margin-bottom: 30px;
    }
    h3 {
        font-size: 20px;
        color: $white;
    }
}

.footer-area-top {
    .container {
        .row {
            width: 100%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-area-top {
        padding: 82px 0 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-area-top {
        padding: 72px 0 40px;
    }

    .footer-area-top {
        .container {
            .row {
                max-width: 95%;
            }
        }
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .footer-area-top {
        padding: 62px 0 35px;
    }
}

@media (min-width: 321px) and (max-width: 479px) {
    .footer-area-top {
        padding: 52px 0 20px;
    }
}

@media only screen and (max-width: 320px) {
    .footer-area-top {
        padding: 42px 0 10px;
    }
}

.text-border {
    border-bottom-style: ridge;
    border-bottom-color: $baseColor;
    display: inline-block;
}

.footer-area-top {
    .footer-about {
        margin: 20px 0 35px;
        p {
            font-size: 16px;
        }
    }
    .featured-links {
        margin-bottom: 50px;
        > li {
            display: inline-block;
            &:first-child {
                margin-right: 30px;
            }
        }
    }
    .corporate-address li {
        margin-bottom: 15px;
        color: #f5f5f5;
        position: relative;
        font-size: 16px;
        a {
            transition: color 0.5s ease;
            color: #f5f5f5;
            &:hover {
                color: $baseColor;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-area-top .featured-links > li:first-child {
        margin-right: 10px;
    }
}

.footer-area-bottom {
    border-top: 1px solid #424d53;
    background: #263238;
    padding: 20px 0 0;
    font-size: 14px;
    text-align: center;
    p {
        color: #999999;
    }
}

@media only screen and (max-width: 767px) {
    .footer-area-bottom {
        text-align: center;
        padding: 17px 0;
    }
}

@media only screen and (max-width: 767px) {
    .footer-area-bottom p {
        margin-bottom: 10px;
    }
}
.centered-text {
    padding-left: 20%;
}